<ion-header>
  <ion-navbar primary>
    <ion-title>
      Create Item
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="create-item">
  <ion-list>

    <ion-item>
      <ion-label floating>Enter item name</ion-label>
      <ion-input [(ngModel)]="item.name" type="text" [autofocus]></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Item Description</ion-label>
      <ion-textarea [(ngModel)]="item.description"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="board.verticalRelations && board.verticalRelations.length > 1">
      <ion-label>Vertical Relation</ion-label>
      <ion-select [(ngModel)]="verticalRelationIndex">
        <ion-option *ngFor="let relation of board.verticalRelations; let i = index" value="{{ i }}">
          {{ relation.name }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="board.horizontalRelations && board.horizontalRelations.length > 1">
      <ion-label>Horizontal Relation</ion-label>
      <ion-select [(ngModel)]="horizontalRelationIndex">
        <ion-option *ngFor="let relation of board.horizontalRelations; let i = index" value="{{ i }}">
          {{ relation.name }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button block (click)="create()">Create</button>
  </div>
</ion-content>