<ion-header>
  <ion-navbar primary>
    <ion-title *ngIf="item">
      {{ item.name }}
    </ion-title>
    <ion-buttons end>
      <button (click)="moreIconPressed()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="item" *ngIf="item" padding>
  <div (click)="toggleNameEditable()">
    <div *ngIf="!nameEditable">
      {{ item.name }}
    </div>
    <div *ngIf="nameEditable">
      <ion-list>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input [(ngModel)]="item.name" type="text"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="item.description">
    <hr>
    {{ item.description }}
  </div>
  <hr>
  <div *ngIf="board.team">
    <user-list *ngIf="item.assignees.length" [users]="item.assignees" [title]="'Assignees'"></user-list>
    <button (click)="openSelectAssignees()" ion-button clear>
      <ion-icon name="add"></ion-icon> Select Assignees
    </button>
  </div>
  <div *ngIf="item.linkRelationItems && item.linkRelationItems.length">
    <ion-list>
      <ion-list-header>
        Sub Items
      </ion-list-header>
      <ion-item *ngFor="let item of item.linkRelationItems" (click)="linkItemSelected(item)">
        {{ item.name }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>