<ion-header>
  <ion-navbar primary>
    <ion-title>
      Create Board
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="create-board">
  <ion-list>
    <ion-item>
      <ion-label floating>Enter board name</ion-label>
      <ion-input [(ngModel)]="board.name" type="text" [autofocus]></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Vertical Relation</ion-label>
      <ion-toggle [(ngModel)]="board.verticalRelationEnabled"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Horizontal Relation</ion-label>
      <ion-toggle [(ngModel)]="board.horizontalRelationEnabled"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="teams && teams.length">
      <ion-label>Team</ion-label>
      <ion-select [(ngModel)]="teamIndex">
        <ion-option value="-1">None</ion-option>
        <ion-option *ngFor="let team of teams; let i = index" value="{{ i }}">
          {{ team.name }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div padding>
    <button block (click)="create()">Create</button>
  </div>
</ion-content>