<ion-header>
  <ion-navbar primary>
    <ion-title *ngIf="board">
      {{ board.name }}
    </ion-title>
    <ion-buttons end>
      <button (click)="moreIconPressed()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="board">
  <scroll-content *ngIf="board">

    <ion-scroll scrollX="true" scrollY="true">
      <ion-row>
        <ion-col *ngIf="board.horizontalRelationEnabled" class="horizontal-relations">
          <horizontal-relation *ngFor="let relation of board.horizontalRelations"
                               [relation]="relation"
                               [board]="board"></horizontal-relation>
        </ion-col>
        <vertical-relation *ngFor="let relation of board.verticalRelations; let i = index"
                          [relation]="relation"
                          [board]="board"
                          [items]="items[i]"></vertical-relation>

        <vertical-relation *ngIf="defaultRelation"
                           [relation]="defaultRelation"
                           [board]="board"
                           [items]="items[0]"></vertical-relation>
        <ion-col>
          <button (click)="onCreateRelationPressed()">Create Relation</button>
        </ion-col>
      </ion-row>
    </ion-scroll>

  </scroll-content>
</ion-content>

<button *ngIf="board && (board.verticalRelations.length || board.horizontalRelations.length)"
        fab fab-bottom fab-right (click)="addIconPressed()">
  <ion-icon name="add"></ion-icon>
</button>