<ion-header>
  <ion-navbar primary>
    <ion-title *ngIf="board">
      {{ board.name }}
    </ion-title>
    <ion-buttons end>
      <button (click)="moreIconPressed()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="board">
  <scroll-content *ngIf="board">

    <ion-scroll scrollX="true" scrollY="true">
      <ion-row>
        <list-element *ngFor="let list of board.lists" [list]="list"></list-element>
        <ion-col>
          <button (click)="onCreateListPressed()">Create List</button>
        </ion-col>
      </ion-row>
    </ion-scroll>

  </scroll-content>
</ion-content>

<button *ngIf="board && board.lists.length" fab fab-bottom fab-right (click)="addIconPressed()">
  <ion-icon name="add"></ion-icon>
</button>